@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Istok Web", sans-serif;
}
:root {
	--black: #191919;
	--lightblack:#212121;
	--white: #ffffff;
	--orange:#EA741A;
	--yellow:#ffce00;
	--greybackground:rgb(170, 170, 170);
	--red: rgb(181, 0, 0);
	--lightgrey: rgb(130, 130, 130);
}

body {
	background-size: cover;
	background-color: var(--greybackground);
	font-size: 20px;
}

/* heading Nr.1 Chose game Mode */
.heading{
	font-size: 3em;
	text-align: center;
	margin: 10% auto;
	width: 90%;
	font-weight: bold;
}

#description {
	font-size: 0.6em;
	font-family: sans-serif;
	margin-top: 5%;
}

/* gameMode div */
#gameMode{
	background: var(--lightblack) ;
	display: block;
	margin-left: 8%;
	margin-right: 8%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: auto;
	height: 600px;
	border-radius: 2%;
	margin-top: 8%;
}
.pve{
	margin-top: 60px;
	margin-left: 5%;
	float: left;
	top: 300px;
	width: 320px;
	height: 480px;
	background: var(--black);
	border-radius: 20px;
	overflow: hidden;
}

.pve:hover::before {
	transform: skewY(390deg);
}

.pve::after {
	content: "PVE";
	position: relative;
	bottom: 110px;
	left: 30px;
	font-weight: 600;
	font-size: 5em;
	color: rgba(0, 0, 0, 0.6);
}

.imgBox {
	height: 300px;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 3;
}

/*Picture + transition*/
.pve .imgBox img {
	width: 85%;
	height: 95%;
	transition: .5s;
}
.pve:hover .imgBox img {
	width: 75%;
	height: 85%;
}

.pve .contentBox {
	position: relative;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
}
/*headline singleplayer*/
.pve .contentBox h1 {
	margin-top: 4%;
	font-size: 20px;
	color: white;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px  1px 1px black, 1px -1px 1px black, -1px  1px 1px black, -1px -1px 1px black;
}
/*Play Button*/
.pve .contentBox .ContinueBtn {
	position: relative;
	top: 100px;
	opacity: 0;
	padding: 10px 30px;
	margin-top: 15px;
	color: #000000;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
	background: var(--red);
	border-radius: 30px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.5s;
}
/*Play Button appears*/
.pve:hover .contentBox .ContinueBtn {
	top: 0;
	opacity: 1;
}

.pvp{
	margin-top: 60px;
	margin-left: 5%;
	float: left;
	top: 300px;
	width: 320px;
	height: 480px;
	background: var(--black);
	border-radius: 20px;
	overflow: hidden;
}

.pvp::before {
	content: "";
	position: absolute;
	top: 648px;
	width: 320px;
	height: 250px;
	background: var(--yellow);
	transform: skewY(345deg);
	transition: 0.5s;
	border-top-left-radius: 22%;
	border-bottom-right-radius: 22%;
}
.pve::before {
	content: "";
	position: absolute;
	top: 648px;
	width: 320px;
	height: 250px;
	background: var(--red);
	transform: skewY(345deg);
	transition: 0.5s;
	border-top-left-radius: 22%;
	border-bottom-right-radius: 22%;
}

.pvp:hover::before {
	transform: skewY(390deg);
}

.pvp::after {
	content: "PVP";
	position: relative;
	bottom: 110px;
	left: 30px;
	font-weight: 600;
	font-size: 5em;
	color: rgba(0, 0, 0, 0.6);
}

/*Picture + transition*/
.pvp .imgBox img {
	width: 100%;
	height: 85%;
	margin-top: 100px;
	margin-bottom: 90px;
	transition: .5s;
}

.pvp:hover .imgBox img {
	width: 90%;
	height: 75%;
}

.pvp .contentBox {
	position: relative;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
}

/*headline singleplayer*/
.pvp .contentBox h1 {
	margin-top: 4%;
	font-size: 20px;
	color: white;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px  1px 1px black, 1px -1px 1px black, -1px  1px 1px black, -1px -1px 1px black;
}

/*Play Button*/
.pvp .contentBox .ContinueBtn {
	position: relative;
	top: 100px;
	opacity: 0;
	padding: 10px 30px;
	margin-top: 15px;
	color: #000000;
	font-weight: bolder;
	font-size: 1.1em;
	text-decoration: none;
	background: var(--yellow);
	border-radius: 30px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.5s;
}

/*Play Button appears*/
.pvp:hover .contentBox .ContinueBtn {
	top: 0;
	opacity: 1;
}

/* div for difficulty settings*/
#difficulty {
	width: 70%;
	background-color: var(--black);
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	/* Hidden */
	display: none;
}
/* Difficulty buttons*/
.difficultyBtn {
	width: 160px;
	background-color: #4CAF50;
	box-sizing: border-box;
	text-align: center;
	color: black;
	font-size: 25px;
	font-weight: bold;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 6.9%;
	padding: 8px 20px 8px 20px;
	border: none;
	border-radius: 30px;

	transition: 0.2s;
}

.difficultyBtn:hover {
	transform: translateY(-0.3em);
}

#mediumDifficulty{
	background-color: var(--yellow);
}

#hardDifficulty{
	background-color: var(--red);
}

/* Styls the login Box with boders */
#login{
	width: 60%;
	background-color: var(--lightgrey);
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	border-radius: 4%;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	/* Hidden */
	display: none;
}

/*text login*/
.textlogin1{
	font-size: 20px;
	margin-bottom: 20px;
}

/* Avatar login */
.login-avatar{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 25%;
	border-radius: 50%;
}

.login{
	padding: 2px 16px;
}

/*Username Inputfield*/
.unameLabel {
	font-size: 25px;
	margin-right: 20px;
}

.loginField{
	width: 30%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	transition: width 0.4s ease-in-out;
	font-size: 24px;
	margin-bottom: 5%;
}

.loginField:focus{
	width: 50%;
}

/* username 2 */
.username2{
	margin-top: -2%;
}

/*textfeld3*/
.textlogin3{
	font-size: 15px;
	margin-bottom: 20px;
	display: block;
}
/*login Button*/
.buttonlog{
	background-color: #4CAF50;
	box-sizing: border-box;
	border: none;
	width: 140px;
	color: white;
	padding: 8px 20px 8px 20px;
	text-align: center;
	font-size: 20px;
	border-radius: 30px;
	margin: 20px auto 40px;
	transition: 0.5s;
}
.buttonlog:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: hsl(122, 39%, 47%);
	transform: translateY(-0.15em);
	width: 40%;
}
.buttonlog:focus{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: hsl(122, 39%, 58%);
	transform: translateY(-0.3em);
	color: black;
}